.sidenav {
  position: fixed;
  top: 0;
  cursor: pointer;
  text-align: center;
  z-index: 10;
}

.sidenav__icon {
  text-decoration: none;
  text-transform: none;
  font-weight: 300;
  font-style: normal;
  color: #444444;
}

.sidenav__icon:after {
  content: '☰';
  font-size: 4em;
}

.sidenav__list-item {
  padding: 1rem;
  color: #FFFFFF;
  display: block;
}

/* Position and sizing of burger button */
.bm-burger-button {
  color: #444444;
  position: fixed;
  width: 3rem;
  height: 3rem;
  left: 3rem;
  top: 5rem;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373A47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 2.4rem;
  width: 2.4rem;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #BDC3C7;
}

/* General sidebar styles */
.bm-menu {
  background: #000000;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373A47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #FFFFFF;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
