.tile {
  position: relative;
  cursor: pointer;
}

.tile__image {
  height: 34rem;
  width: 100%;
  background-size: cover;
}

.tile__subtext {
  position: relative;
  top: calc(100% + 1rem);
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  color: #444444;
}

.tile__subtext a {
  text-decoration: underline;
  margin-left: 0.8rem;
}
