.footer {
  background-color: #1E1E1E;
  max-width: 160rem;
  width: 100%;
  height: 52rem;
  padding: 6.5rem 0;
  margin: 0 auto !important;
  color: #FFFFFF;
}

.footer__bottom-bar {
  margin-top: auto;
  max-width: 120rem;
  width: 100%;
  margin: auto auto 0 auto;
  display: flex;
}

.footer__copyright {
  color: #FFFFFF;
  margin-left: auto;
  letter-spacing: 0.2rem;
  opacity: 0.5;
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-weight: 500;
  text-transform: uppercase;
}

.footer__social {
  width: 16rem;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.footer__social-item {
  width: 2rem;
}
